<a href="https://colab.research.google.com/github/Eric1891/Final/blob/main/Vehicle_Collisions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import csv
%cd /content/
import matplotlib.pyplot as plt
from google.colab import files
import plotly.graph_objs as go
import plotly.express as px

/content

In [10]:
df=pd.read_csv('/content/Motor_Vehicle_Collisions_-_Crashes.csv')
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,1/1/20,13:39,BROOKLYN,11204.0,NaN,NaN,NaN,bay ridge pkwy,18 avenue,NaN,...,NaN,NaN,NaN,NaN,4267649,Box Truck,NaN,NaN,NaN,NaN
1,1/1/20,21:00,NaN,NaN,40.698890,-73.917530,"(40.69889, -73.91753)",MYRTLE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4267764,Sedan,NaN,NaN,NaN,NaN
2,1/1/20,21:45,NaN,NaN,40.591000,-74.163780,"(40.591, -74.16378)",STEINWAY AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4271285,Sedan,NaN,NaN,NaN,NaN
3,1/1/20,18:10,NaN,NaN,40.573230,-74.147020,"(40.57323, -74.14702)",RICHMOND HILL ROAD,NaN,NaN,...,NaN,NaN,NaN,NaN,4267737,Sedan,NaN,NaN,NaN,NaN
4,1/1/20,4:20,NaN,NaN,40.762196,-73.870415,"(40.762196, -73.870415)",99 STREET,NaN,NaN,...,Other Vehicular,Other Vehicular,Other Vehicular,NaN,4269445,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN

In [12]:
df.shape

(264934, 29)

In [13]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [25]:
df['CRASH TIME'].value_counts().head(30)   
#0:00 whether it is time or time is unknown

0:00     4365
15:00    3098
16:00    2863
14:00    2842
17:00    2762
13:00    2661
18:00    2661
12:00    2579
10:00    2363
9:00     2321
19:00    2305
8:00     2305
11:00    2200
14:30    2086
20:00    1976
16:30    1928
17:30    1875
18:30    1803
15:30    1776
13:30    1768
12:30    1735
21:00    1722
8:30     1719
11:30    1636
22:00    1599
10:30    1575
9:30     1560
7:00     1453
19:30    1408
23:00    1347
Name: CRASH TIME, dtype: int64

In [15]:
df['NUMBER OF PERSONS INJURED'].sum()

115682.0

In [41]:
df['NUMBER OF PERSONS KILLED'].sum()

660

In [28]:
df['NUMBER OF PEDESTRIANS KILLED'].sum()

279

In [42]:
df['NUMBER OF PEDESTRIANS INJURED'].sum()

17674

In [27]:
df['NUMBER OF CYCLIST INJURED'].sum()

12062

In [26]:
df['NUMBER OF CYCLIST KILLED'].sum()

53

In [30]:
df['LOCATION'].head(20)

0                         NaN
1       (40.69889, -73.91753)
2         (40.591, -74.16378)
3       (40.57323, -74.14702)
4     (40.762196, -73.870415)
5      (40.780754, -73.95258)
6      (40.725353, -73.82108)
7      (40.753826, -73.88412)
8        (40.6743, -73.93339)
9     (40.747097, -73.886665)
10     (40.695457, -73.80536)
11     (40.836212, -73.86329)
12      (40.67672, -73.94708)
13      (40.64953, -73.91633)
14    (40.844883, -73.907295)
15     (40.621838, -74.03172)
16      (40.82324, -73.88856)
17                        NaN
18      (40.68175, -73.96748)
19    (40.740044, -73.850235)
Name: LOCATION, dtype: object

In [43]:
df['LOCATION'].value_counts().head(50)

(0.0, 0.0)                 2358
(40.861862, -73.91282)      156
(40.675735, -73.89686)      146
(40.651863, -73.86536)      100
(40.658577, -73.89063)      100
(40.69168, -73.999344)       97
(40.64254, -73.87652)        94
(40.84519, -73.9112)         93
(40.65965, -73.773834)       93
(40.820305, -73.89083)       92
(40.83801, -73.87329)        88
(40.8047, -73.91243)         85
(40.66496, -73.82226)        85
(40.84506, -73.916855)       82
(40.60567, -74.030945)       82
(40.67816, -73.897484)       82
(40.696033, -73.98453)       78
(40.651974, -73.86542)       77
(40.67619, -73.9081)         76
(40.65616, -73.76736)        76
(40.826275, -73.85971)       76
(40.668648, -73.92835)       76
(40.680016, -73.87743)       75
(40.666233, -73.761)         74
(40.70145, -73.989624)       74
(40.63082, -73.88636)        73
(40.667313, -73.73926)       73
(40.668495, -73.925606)      73
(40.788795, -73.93755)       69
(40.767612, -73.950005)      69
(40.668797, -73.93113)       68
(40.82325, -73.88277)        67
(40.704494, -73.81743)       66
(40.811638, -73.9316)        65
(40.737785, -73.93496)       65
(40.861862, -73.91275)       65
(40.86369, -73.91707)        65
(40.711033, -73.7281)        64
(40.60981, -73.92251)        64
(40.666348, -73.76093)       63
(40.844917, -73.926384)      63
(40.678722, -73.952995)      63
(40.66552, -73.74467)        62
(40.828114, -73.93107)       62
(40.818558, -73.92732)       60
(40.84543, -73.91399)        60
(40.75548, -73.74173)        60
(40.84518, -73.91417)        59
(40.803593, -73.919785)      59
(40.895374, -73.86356)       59
Name: LOCATION, dtype: int64

In [21]:
df['ZIP CODE'].value_counts()

11207.0    4501
11236.0    3176
11212.0    3104
11208.0    3003
11203.0    2702
           ...
10122.0       1
10107.0       1
11251.0       1
10123.0       1
10174.0       1
Name: ZIP CODE, Length: 216, dtype: int64

In [40]:
df['BOROUGH'].value_counts()

BROOKLYN         60013
QUEENS           47590
BRONX            32691
MANHATTAN        26954
STATEN ISLAND     6089
Name: BOROUGH, dtype: int64

In [50]:
df['VEHICLE TYPE CODE 1'].value_counts().head(10)

Sedan                                  124885
Station Wagon/Sport Utility Vehicle     94129
Taxi                                     7593
Pick-up Truck                            5826
Box Truck                                4639
Bus                                      4053
Bike                                     3447
Tractor Truck Diesel                     2022
Motorcycle                               1922
Van                                      1589
Name: VEHICLE TYPE CODE 1, dtype: int64

In [51]:
df['VEHICLE TYPE CODE 2'].value_counts().head(10)

Sedan                                  77917
Station Wagon/Sport Utility Vehicle    57770
Bike                                    8546
Box Truck                               5404
Pick-up Truck                           4573
Taxi                                    3756
Bus                                     3435
E-Bike                                  2890
Tractor Truck Diesel                    1913
E-Scooter                               1804
Name: VEHICLE TYPE CODE 2, dtype: int64

In [52]:
df['VEHICLE TYPE CODE 3'].value_counts().head(10)

Sedan                                  12160
Station Wagon/Sport Utility Vehicle    10002
Pick-up Truck                            587
Taxi                                     369
Box Truck                                282
Bus                                      167
Bike                                     116
Tractor Truck Diesel                     111
Van                                      101
Motorcycle                                81
Name: VEHICLE TYPE CODE 3, dtype: int64

In [53]:
df['VEHICLE TYPE CODE 4'].value_counts().head(10)

Sedan                                  3390
Station Wagon/Sport Utility Vehicle    2890
Pick-up Truck                           159
Taxi                                     91
Box Truck                                39
Bus                                      27
Motorcycle                               25
Van                                      19
Convertible                              16
Bike                                     16
Name: VEHICLE TYPE CODE 4, dtype: int64

In [54]:
df['VEHICLE TYPE CODE 5'].value_counts().head(10)

Sedan                                  1030
Station Wagon/Sport Utility Vehicle     890
Pick-up Truck                            42
Taxi                                     25
Box Truck                                15
Van                                      12
Motorcycle                                9
Bus                                       7
Tractor Truck Diesel                      7
PK                                        5
Name: VEHICLE TYPE CODE 5, dtype: int64

In [55]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [62]:
plt.figure(figsize=(20,10))
#sort data
total = df.sort_values("CRASH TIME", ascending=False)
#choosing the color
sns.set_color_codes("muted")
#plot data
ax = sns.barplot(x='CRASH TIME', y='LOCATION', data=total, label="CRASH TIME", color="b")
plt.xticks(rotation=90)
plt.show()

TypeError: ignored

In [ ]:
fig = go.Figure()
fig =px.area(df, x='CRASH TIME', y='LOCATION', facet_col='LOCATION', facet_col_wrap=2)
fig.show()

In [ ]:
#changing the default size
plt.figure(figsize=(20,7))
#looping through states
for state in states:
  #assing the state if it's == query states data and  date if it's >=2021-11-01
  df_st = df[(df['state']==state) & (df['date']>='2021-11-01')]
  #display the data with the date and de cases
  plt.plot(df_st['date'],
           df_st['cases'],
           linewidth=2
           )
  #rotate the dates to fit
  plt.xticks(rotation=90)
#discribe the states with a color
plt.legend(states)
plt.show()